installer
hybris-sbg

hybris/config/licence

local.properties

licenses
README
SIGNATURE.SMF
build-tools
hybris/data
hybris/temp
hybris/log
hybris/roles

hybris/bin/modules
hybris/bin/platform

build.xml
*.xsd
platformhome.properties


classes
gensrc
eclipsebin
*.bak
hybris/config/orbeon

commonwebsrc
*testclasses.xml

wro_addon.xml

*backoffice_bof.jar

.idea
hybris4intellij.properties
*.iml

addonsrc
testclasses

*/**/addons
*/**/addon*jar
hybris/config/backup
*/**/mystorestorefront/**/_ui/*